@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
  margin: 0 auto;
  text-align: center;
}

.container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.navigation {
  border: 1px solid red;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 75px;
}

.navigation .top-menu {
  z-index: 2;
  font-size: 36px;
}

.navigation .top-menu img {
  width: 79px;
  height: 28px;
  margin-right: 400px;
}

.navigation .top-menu ul {
  list-style-type: none;
  float: right;
}

.navigation .top-menu ul li {
  position: relative;
  display: inline-block;
  padding: 0 20px;
}

.navigation .top-menu ul li:first-child {
  margin-left: 374px;
}

.navigation .top-menu ul li a {
  /*deleted width & height */
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
}

.hero {
  border: 1px solid red;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.hero::after {
  content: "";
  background-image: url("../images/hero-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.hero .hero-container {
  border: 1px solid red;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 844px;
  height: 266px;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 7%;
}

.hero .hero-container p {
  text-transform: capitalize;
  width: 600px;
  height: 32px;
  color: #fff;
  font-family: "Droid Serif";
  font-size: 40px;
  font-style: italic;
  letter-spacing: -1px;
  text-align: center;
  margin: 0 auto;
}

.hero .hero-container h1 {
  width: 844px;
  height: 55px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1.88px;
  text-align: center;
  margin: 0 auto;
  padding-top: 52px;
}

.hero .hero-container a button {
  width: 240px;
  height: 65px;
  background-color: #fed136;
  color: #fff;
  margin: 0 auto;
  margin-top: 100px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
}

.claim {
  border: 1px solid red;
  padding: 80px 0 76px 0;
}

.claim h2 {
  color: #222222;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 75px;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.claim p {
  color: #777777;
  font-family: "Droid Serif";
  font-size: 16px;
  font-style: italic;
}

.services {
  border: 1px solid red;
  margin-top: 80vh;
  height: 100vh;
  margin-bottom: 10vh;
}

.services .service {
  max-width: 400px;
  padding: 40px 30px;
}

.services .service img {
  margin: 20px 0;
}

.services .service h3 {
  margin-bottom: 18px;
}

.services .service p {
  font-size: 14px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.col-m-1 {
  width: 8.33%;
}

.col-m-2 {
  width: 16.66%;
}

.col-m-3 {
  width: 25%;
}

.col-m-4 {
  width: 33.33%;
}

.col-m-5 {
  width: 41.66%;
}

.col-m-6 {
  width: 50%;
}

.col-m-7 {
  width: 58.33%;
}

.col-m-8 {
  width: 66.66%;
}

.col-m-9 {
  width: 75%;
}

.col-m-10 {
  width: 83.33%;
}

.col-m-11 {
  width: 91.66%;
}

.col-m-12 {
  width: 100%;
}

[class*="col-"] {
  width: 100%;
  float: left;
}

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both;
}

.portfolio {
  background-color: #f7f7f7;
  margin: 0 auto;
  margin-bottom: 10vh;
}

.portfolio .portfolio-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1100px;
}

.portfolio .portfolio-box .panel {
  width: 291px;
  height: 393px;
  background-color: #ffffff;
  margin: 25px 17px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
/*# sourceMappingURL=style.css.map */