@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
  margin: 0 auto;
  text-align: center;
}

.container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1200px;
}

.navigation {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 75px;
}

.navigation .top-menu {
  z-index: 2;
  font-size: 36px;
}

.navigation .top-menu img {
  width: 79px;
  height: 28px;
  margin-right: 400px;
}

.navigation .top-menu ul {
  list-style-type: none;
  float: right;
}

.navigation .top-menu ul li {
  position: relative;
  display: inline-block;
  padding: 0 20px;
}

.navigation .top-menu ul li:first-child {
  margin-left: 374px;
}

.navigation .top-menu ul li a {
  /*deleted width & height */
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
}

.hero {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.hero::after {
  content: "";
  background-image: url("../images/hero-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.hero .hero-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 844px;
  height: 266px;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 7%;
}

.hero .hero-container p {
  text-transform: capitalize;
  width: 600px;
  height: 32px;
  color: #fff;
  font-family: "Droid Serif";
  font-size: 40px;
  font-style: italic;
  letter-spacing: -1px;
  text-align: center;
  margin: 0 auto;
}

.hero .hero-container h1 {
  width: 844px;
  height: 55px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1.88px;
  text-align: center;
  margin: 0 auto;
  padding-top: 52px;
}

.hero .hero-container a button {
  width: 240px;
  height: 65px;
  background-color: #fed136;
  color: #fff;
  margin: 0 auto;
  margin-top: 100px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  margin-top: 100px;
}

.claim {
  padding: 120px 0 76px 0;
}

.claim h2 {
  color: #222222;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 75px;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.claim p {
  color: #777777;
  font-family: "Droid Serif";
  font-size: 16px;
  font-style: italic;
}

.services {
  margin-top: 100vh;
  text-align: center;
}

.services .container {
  padding: 0;
}

.services .container .service {
  max-width: 400px;
  padding: 40px 30px;
}

.services .container .service img {
  margin: 28px 0;
}

.services .container .service h3 {
  margin-bottom: 18px;
}
/*# sourceMappingURL=style.css.map */