@import url('https://fonts.googleapis.com/css?family=Montserrat');

@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin background-rsp {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body {
    margin: 0 auto;
    text-align: center;
}

.container {
    @include flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* navigation ------------------------------------------------------------ */

.navigation {
    display: flex;
    align-items: center;
    margin-top: 5vh;
    .top-menu {
        z-index: 2;
        font-size: 36px;
        .logo {
            @include flex;
            align-content: center;
        }
        ul {
            list-style-type: none;
            display: flex;
            justify-content: flex-end;
            li {
                position: relative;
                display: inline-block;
                padding: 0 20px;
                a {
                    color: #ffffff;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 40px;
                    text-transform: uppercase;
                    text-decoration: none;
                }
            }
        }
    }
}

/* hero ----------------------------------------------------------------- */

.hero {
    width: 100%;
    @include flex;
    background: rgba(0,0,0,0.5);
    @include background-rsp;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    &::after {
        content: "";
        background-image: url("../images/hero-image.png");
        @include background-rsp;
        height: 100vh;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }
    .hero-container {
        @include flex;
        flex-wrap: wrap;
        max-width: 900px;
        align-self: center;
        margin-top: 40vh;
        p   {
            text-transform: capitalize;
            color: #fff;
            font-family: "Droid Serif";
            font-size: 40px;
            font-style: italic;
            font-weight: 100;
            text-align: center;
            margin: 0 auto;
        }

        h1 {
            color: #fff;
            font-family: 'Montserrat', sans-serif;
            font-size: 75px;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: -1.88px;
            text-align: center;
            margin: 0 auto;
            padding-top: 5vh;
        }

        button {
            width: 240px;
            height: 65px;
            background-color: #fed136;
            color: #fff;
            margin: 0 auto;
            margin-top: 5vh;
            font-family: 'Montserrat', sans-serif;
            font-size: 18px;
            font-weight: 900;
            text-transform: uppercase;
            border: none;
            border-radius: 5px;
            
        }
    }
}

.claim {
    
    h2 {
        color: #222222;
        font-family: 'Montserrat', sans-serif;
        font-size: 40px;
        font-weight: 700;
        line-height: 75px;
        text-transform: uppercase;
        letter-spacing: -1px;
    }
    p {
        color: #777777;
        font-family: "Droid Serif";
        font-size: 16px;
        font-style: italic;
    }
}

/* services -------------------------------------------------------------- */

.services {
    margin-top: 80vh;
    height: 100vh;
    margin-bottom: 10vh;
    .service {
        max-width: 400px;
        padding: 40px 30px;
        img {
            margin: 20px 0;
        }
        h3 {
            margin-bottom: 18px;
        }
        p {
            font-size: 14px;
        } 
    }
}

/* portfolio ------------------------------------------------------------- */

.portfolio {
    background-color: #f7f7f7;
    margin: 0 auto;
    padding-bottom: 100px;
    .portfolio-box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 1100px;
        .panel {
            width: 291px;
            height: 393px;
            background-color: #ffffff;
            margin: 25px 17px;
            align-self: center;
        }
    }
}

/* about us -------------------------------------------------------------- */

.history {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.img-container {
    padding: 0;
    margin: 0;
    text-align: center;
    img {
        width: 168px;
        height: 168px;
        border: 7px solid #f1f1f1;
        border-radius: 50%;
        background-color: #fed136;
        margin: 0 auto;
    }
}

.last-object {
    width: 168px;
    height: 168px;
    border: 7px solid #f1f1f1;
    border-radius: 50%;
    background-color: #fed136;
    margin: 0 auto;
    padding: 0;
    h3 {
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        padding-top: 20px;
        line-height: 30px;
    }
}

/* our team -------------------------------------------------------------- */

.our-team {
    text-align: center;
    background-color: #f9f9f9;
    .container {
        padding: 0;
        .container-element {
            max-width: 400px;
            margin: 40px 28px;
            padding: 0;
            img {
                margin: 28px 0;
            }
            h3 {
                margin-bottom: 18px;
            }
            i {
                width: 50px;
                height: 50px;
                line-height: 40px;
                border: 5px solid #000;
                border-radius: 50%;
                margin: 5px;
            }
        }
    }
}

.team-paragraph {
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
}

.cooperation img {
        margin: 5px 20px;
}

/* contact  -------------------------------------------------------------- */

.contact {
    background-image: url('../images/Background.png');
    width: 100%;
    padding: 0 0 150px 0;
    .content {
        h2 {
            color: #fff;
        }
    }
    .container {
        
        form {
            width: 900px;
            .form-group {
                padding: 4px;
            }
        }
        
        button {
            color: #fff;
        }
    }
}

/* footer   -------------------------------------------------------------- */

footer {
    .icon-container {
    @include flex;
    flex-wrap: wrap;
    width: 75%;
    height: 120px;
    line-height: 120px;
        p {
            text-transform: uppercase;
            width: 450px;
        }
        i {
            background-color: #222;
            color: #fff;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            margin: 5px;
            line-height: 40px;
        }
    }
}


